.projects {
    margin: 0 auto 30px auto;
    background: transparent;
    width: 75%;
    
}

.project {
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: auto;
    opacity: 0.9;
}

.detail {
    margin: 0 10% 15px 10%;
}


img {
    width: auto;
    height: auto;
}

a{
    text-decoration: none;
    color: black;
    padding: 0px;
}